@import "bootstrap/scss/bootstrap";

//HEADER
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.headerLogo {
    width: 150px;
    height: auto;
    margin: 0;
    padding: 0;
    animation: spin 5s linear infinite;
}

.headerText {
    font-family: 'Eater', cursive;
    font-size: 36px;
}