/* ===========================================
   SHAKE GLITCH (TREMOLO)
   =========================================== */

@keyframes fxShake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-1px);
    }

    40% {
        transform: translateX(1px);
    }

    60% {
        transform: translateX(-1px);
    }

    80% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(0);
    }
}

.fx-shake {
    animation: fxShake .2s ease-in-out;
}